body {
  padding: 3rem 0;
}

.col {
  border: solid #dee2e6;
  border-width: 1px;
  padding: 1.5rem;
  margin: 10px;
}

.header {
  padding-bottom: 2rem;
  text-align: center;
}

.btn-default{
  background: #474bff;
  background: -webkit-linear-gradient(84deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(84deg, #474bff 0%, #bc48ff 100%);
  color: white;
}

.btn-default:hover{
  color: rgba(255, 255, 255, 0.8);
}